@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  box-sizing: content-box;
  width: 100vw;
  background: linear-gradient(30deg, #d48a7d, #8fc5e9);
  background-size: cover;
  font-family: "Dosis", sans-serif;
}

.gallery {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
  gap: 2em;
}

.imageDiv {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.4), 0px 0px 0px 5px rgba(0, 0, 0, 0.3), 10px 10px 10px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  transition: all 400ms ease-in;
}
.imageDiv:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.4), 0px 0px 0px 5px rgba(0, 0, 0, 0.3), 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.imageDiv:hover .mask::before {
  opacity: 0.6;
}
.imageDiv:hover .image {
  transform: scale(1.2);
}
.imageDiv:hover .headText {
  top: 10%;
}
.imageDiv:hover .imageDesc {
  bottom: 5%;
}

.imageHolder {
  width: 100%;
  height: 100%;
}

.mask {
  width: 100%;
  height: 100%;
  z-index: 3;
}
.mask::before {
  position: absolute;
  content: "";
  inset: 0;
  background: rgb(42, 17, 151);
  opacity: 0;
  transition: opacity 400ms;
}

.headText {
  position: absolute;
  left: 0;
  top: -100px;
  right: 0;
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
  z-index: 2;
  transition: top 400ms;
}
.headText::before {
  position: absolute;
  content: "";
  top: -5%;
  left: 0;
  right: 0;
  bottom: -10%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 400ms;
  z-index: 0;
}

.imageDesc {
  position: absolute;
  left: 10px;
  bottom: -120%;
  right: 0;
  color: #FFFFFF;
  font-size: 20px;
  z-index: 1;
  transition: bottom 400ms;
}